.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  .options {
    min-width: 200px;

    height: 100%;

    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 70px) and (max-width: 470px) {
  .options {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    justify-items: center;
    align-items: center;
  }
}

@media screen and (min-width: 471px) {
  .options {
    display: flex;
    flex-wrap: wrap;
  }
}
