.sign-in-and-sign-up {
  width: 70%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 0 auto;
}

@media screen and (min-width: 950px) {
  .sign-in-and-sign-up {
    grid-template-columns: 1fr 1fr;
  }
}
